

.grids {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  margin: auto;
}

.grids > div {
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
}
